#logo_bekdache {
	width: 70px;
	height: 70px
}

.header-topbar .topbar {
	background: #124364 !important;
}

.slider-2 .btn--white, .slider-4 .btn--white {
	color: #124364 !important;
}

.navbar-nav > li.has-dropdown > ul.dropdown-menu {
	background-color: #124364 !important;
}

ul.dropdown-menu li a, ul.mega-menu li ul li a {
	width: 160px;
}

.about-2 .btn--dark-gradient {
	background: #124364 !important;
}

.btn--secondary {
	background: white !important;
	border-color: transparent !important;
	color: black !important;
}

.about-2 .contact-box, .about-2 .contat-heading {
	background: #124364 !important;
}

.btn--gradient {
	background: #124364 !important;
}

.heading .heading--subtitle {
	color: black !important;
}

.entry--title a {
	color: black;
}

.entry--more a {
	color: white;
}

.view_all {
	text-align: center;
}

.bg-theme {
	background: #124364 !important;
}

.widget-content img {
	width: 5rem;
	height: 5rem;
}

.backtop {
	background-color: #124364 !important;
}

.addpadd {
	margin-left: 1.5rem;
}

.addpadd p {
	color: white;
}

.addrightpadd {
	margin-right:8.5rem;
}

.addrightpadd p {
	color: white;
}
/* make the main header sticky */
.fixedheader {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky {
  padding-top: 102px;
}

.case-item .case--hover .case--action {
	background-color: #124364 !important;
	opacity: 0.5;
}

.about-2 .contact-box .contat-heading h3 {
	color: #b8b0ad !important;
}

.case-item .case--cat a {
	color: #124364 !important;
}

.about--text.pr-60 {
	text-align: justify !important;
}

.feature-card-desc {
	text-align: justify !important;
}

.entry--bio p {
	text-align: justify !important;
}
